
/* PRODUCTS SECTION */
.products-list {
    margin: 35px 5% 0px 5%;
    padding: 25px 25px;
    border-radius: 10px;
    background: linear-gradient(180deg,var(--primary-bg) 50%, var(--secondary-bg) 100%);

}

/* PRODUCTS FILTERS */

.products-filters {
    margin-top: 7px;
    display: flex;
}

.products-filters-left {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 100%;
}

/* SEARCH BAR */
.fx {
  display: flex;
}

.fx-gap {
  gap: 18px;
}

.search-bar-input,
.search-bar-button {
  color: #fff;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  outline: none;
}

.search-bar {
  background-color: var(--secondary);
  border-radius: 20px;
  box-shadow: 0 2px 7px #ff7c7c, 0 0 0 2px #ffffffeb;
  height: 30px;
  padding: 7px 15px 7px 10px;
  transition: 0.3s;
}

.search-bar:focus-within
{
  box-shadow: 0 2px 10px #ffffffeb, 0 0 0 2px #ff7c7c;
  transition: 0.3s;
  animation-fill-mode: forwards
}

.search-bar-input[type="text"] {
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 1;
}

.search-bar-input[type="text"]::placeholder {
  color: #e16868;
}

.search-bar-button {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* ----- END SERACH BAR ----- */


.new-produtct .new-product-button { 
    padding: 8px 17px;
    color: white;
    font-weight: 700;
    background: var(--primary);
    border-radius: 5px;
}

.reload-products-list img {
    max-width: 40px;
}

.products-filters-right {
    display: flex;
    gap: 15px;
}

.products-filters-right img,
.products-filters-right svg
{
    max-width: 50px;
}

.compact-list-icon {
    fill: var(--secondary);
    width: 40px;
    height: 40px;
}

.card-list-view-icon {
    fill: var(--secondary);
    width: 40px;
    height: 40px;
}

/* LISTAGEM DOS PRODUTOS */
.products-compact-list {
    margin-top: 20px;
    padding-top: 15px;
}

.product-compact-list-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.compact-item-info {
    flex: 2.5;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    gap: 15px;
    align-items: center;
    width: 100%;
}

.compact-item-info .compact-item-icon {
    border-radius: 5px;
    max-width: 50px;
}

.compact-item-info .compact-item-name {
    font-size: larger;
}

.compact-item-actions .compact-item-actions-more {
    flex: 1;
    fill: var(--primary);
    width: 60px;
    height: 60px;
}

.compact-item-data {
    flex: 3;
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.compact-item-data .compact-item-data-item {
    padding: 8px 20px;
    height: 100%;
    border-radius: 5px;
    display: block;
    max-width: min-content;
}

.compact-item-data-title {
    color: var(--secondary);
    font-size: 14px;
    margin-bottom: 8px;
}

.compact-item-stock {
    flex: 0.7;
    display: flex;
    align-items: center;
    border: solid 2px var(--secondary-2);
    background-color: var(--secondary-bg);
    gap: 5px;
    border-radius: 5px;
    padding: 3px 9px;
    max-width: 130px;
    min-width: 120px;
    align-items: center;
    align-content: center;
}

.compact-item-stock .compact-item-stock-remove, .compact-item-stock .compact-item-stock-increase {
    font-size: 50px;
}

.compact-item-stock .compact-item-stock-edit {
    font-size: 25px;
    max-width: 50px;
    padding: 5px;
    border: solid 2px var(--secondary-2);
}

.compact-item-stock-edit:focus-within {
    border: solid 2px var(--secondary-2);
	outline: none;
	outline-offset: none;
}

.compact-item-stock-increase-icon,
.compact-item-stock-remove-icon
{
    width: 25px;
    height: 25px;
}
.compact-item-stock-increase-icon g,
.compact-item-stock-remove-icon g
{
    fill: var(--secondary);
}