/* Cores */
@import url('https://fonts.cdnfonts.com/css/applied-sans-pro');

:root {
  --background:   #faf5ff;
  --primary:      #8705fb;
  --primary-bg:   #8804fb0d;
  --secondary:    #fd7d9b;
  --secondary-2:  #ffafc2;
  --secondary-bg: #fd7c9a1a;
  --accent:       #fc583d;
  --text:         #0c0018;
}

body {
  font-family: "monospace";
  position: relative;
  color: var(--text);
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
}

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  font-weight: inherit;
  color: inherit;
}

button {
  color: none;
  background-color: none;
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 100%;
  margin: 15px;
}