/* Cores */
:root {

}

body {
  font-family: "monospace";
  position: relative;
  color: var(--text-color--gray--light);
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}