
/* HEADER */
.header {
    display: flex;
    width: 100%;
    padding: 7px 15px;
    border-radius: 5px;
    align-items: center;
    background-color: var(--secondaty-bg);
}

/* HEADER REDIRECTS */
.header-redirects {
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
}

.header-redirects hr {
    height: 50%;
}

.header-redirects button {
    padding: 5px;
    border-radius: 100%;
    background-size: 0% 0%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: linear-gradient(var(--secondary-2), var(--secondary-2));
}

.header-redirects button:hover {
    background-size: 100% 100%;
    transition: 0.5s;
}

.header-redirects img {
    max-width: 45px;
}

.header-title {
    width: 100%;
    text-align: center;
}

/* HEADER PROFILE */
.header-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 35px;
    width: 100%;
}

.header-profile .profile-username {
    font-size: larger;
}

.header-profile .profile-pic {
    border-radius: 200px;
    max-width: 80px;
}

.header-profile .profile-pic img {
    border-radius: 100%;
}