
/* HEADER */
.header {
    display: flex;
    width: 100%;
    padding: 7px 15px;
    border: solid black 1px;
    border-radius: 5px;
}

/* HEADER REDIRECTS */
.header-redirects {
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
}

.header-redirects hr {
    height: 50%;
}

.header-redirects button {
    padding: 3px;
    border-radius: 5px;
}

.header-redirects button:hover {
    background-color: #afafaf;
    transition: 0.3s;
}

.header-redirects img {
    max-width: 45px;
}

.header-title {
    width: 100%;
    text-align: center;
}

/* HEADER PROFILE */
.header-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 35px;
    width: 100%;
}

.header-profile .profile-username {
    font-size: larger;
}

.header-profile .profile-pic {
    border-radius: 200px;
    max-width: 80px;
}

.header-profile .profile-pic img {
    border-radius: 100%;
}

/* ------- END HEADER ------- */


/* PRODUCTS SECTION */
.products-list {
    margin-top: 35px;
    padding: 0px 10%;
}

/* PRODUCTS FILTERS */

.products-filters {
    margin-top: 25px;
    padding: 30px 20px;
    border-top: 1px solid black;
    display: flex;
}

.products-filters-left {
    display: flex;
    gap: 7px;
    align-items: center;
    width: 100%;
}

.new-produtct .new-product-button {
    padding: 5px;
    color: limegreen;
    font-weight: 900;
    font-size: larger;
    border: 3px solid lime;
    border-radius: 5px;
    /* background-color: rgba(96, 255, 96, 0.5); */
}

.reload-products-list img {
    max-width: 40px;
}

.products-filters-right {
    display: flex;
    gap: 15px;
}

.products-filters-right img {
    max-width: 50px;
}

/* LISTAGEM DOS PRODUTOS */

.product-compact-list-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.compact-item-info {
    display: flex;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    gap: 15px;
    align-items: center;
    width: 100%;
}

.compact-item-info .compact-item-icon {
    border: solid 1px black;
    border-radius: 5px;
    max-width: 50px;
}

.compact-item-info .compact-item-name {
    font-size: larger;
}

.compact-item-stock {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.compact-item-stock .compact-item-stock-remove, .compact-item-stock .compact-item-stock-increase {
    font-size: 50px;
}

.compact-item-stock .compact-item-stock-remove {
    color: red;
}

.compact-item-stock .compact-item-stock-increase {
    color: limegreen;
}

.compact-item-stock .compact-item-stock-edit {
    font-size: 25px;
    max-width: 50px;
    padding: 5px;
}

.compact-item-actions .compact-item-actions-more {
    border: solid 2px black;
    border-radius: 5px;
    font-size: 25px;
    padding: 23px 15px;
}

.compact-item-data {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
}

.compact-item-data .compact-item-data-item {
    padding: 8px 20px;
    height: 100%;
    border: solid 2px black;
    border-radius: 5px;
    font-size: larger;
    display: block;
}

.compact-item-data-title {
    font-size: 14px;
    margin-bottom: 8px;
}