
.modal-box-hidden {
    display: none;
}

.modal-box-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.modal-box {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: var(--background);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-size: 19px;
    width: 500px;

    max-height: 75%;
    overflow: scroll;
}

.modal-header {
    margin-bottom: 20px;
    font-size: 26px;
    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
    background-color: var(--background);
    width: 100%;
    padding: 10px 20px;
}

.modal-form {
    margin: 15px 25px;
}

.modal-form hr {
    border-width: 3px;
    border: solid gray 1px;
    margin-bottom: 10px;
}

.modal-form-question {
    margin-bottom: 25px;
}

.modal-question-title {
    margin-bottom: 7px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.modal-confirm {
    background-color: var(--primary);
    color: var(--text-alt);
    padding: 8px;
    border-radius: 5px;
}

.modal-cancel {
    background-color: var(--accent);
    color: var(--text-alt);
    padding: 5px;
    border-radius: 5px;
}

/* MODAL OPTIONS */
.modal-form-double-row {
    display: flex;
    gap: 35px;
}

.modal-form-double-row .modal-form-question {
    margin: auto;
}

.modal-question-input {
    width: 100%;
    padding: 5px;
}

.modal-question-select-option {
    margin-bottom: 5px;
    display: flex;
}
.modal-question-select-option input {
    margin-right: 5px;
}
.modal-question-select-option label {
    width: 100%;
}

/* Modal toggle */

.modal-form-toggle-div {
    display: flex;
    gap: 10px;
}

.modal-form-toggle {
  position: relative;
  display: inline-block;
  width: 45px;
}

.modal-form-toggle input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.modal-form-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.modal-form-toggle-slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .modal-form-toggle-slider {
  background-color: var(--primary);
}

input:focus + .modal-form-toggle-slider {
  box-shadow: 0 0 1px var(--primary);
}

input:checked + .modal-form-toggle-slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}